.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:black;
    z-index: 1;
}

.nav-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}